#g-clicks-box .g-artboard {
		margin:0 auto;
	}
	#g-clicks-box .g-artboard p {
		margin:0;
	}
	.g-aiAbs {
		position:absolute;
	}
	.g-aiImg {
		display:block;
		width:100% !important;
	}
	.g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	.g-aiPointText p { white-space: nowrap; }
	#g-clicks-Artboard_1 {
		position:relative;
		overflow:hidden;
		width:774px;
	}
	#g-clicks-Artboard_1 p {
		font-weight:500;
		font-size:16px;
		line-height:19px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
	}
	#g-clicks-Artboard_1 .g-pstyle0 {
		font-size:18px;
		line-height:32px;
		height:32px;
		padding-top:5px;
		text-align:center;
		color:rgb(249,249,249);
	}
	#g-clicks-Artboard_1 .g-pstyle1 {
		font-weight:700;
	}
	#g-clicks-Artboard_1 .g-pstyle2 {
		font-size:18px;
		line-height:32px;
		height:32px;
		padding-top:5px;
		text-align:center;
	}
	#g-clicks-Artboard_1 .g-pstyle3 {
		font-size:12px;
		line-height:32px;
		height:32px;
		padding-top:5px;
		text-align:center;
	}
	#g-clicks-Artboard_1 .g-cstyle0 {
		font-weight:700;
	}